{% extends 'base.html' %}

{% block meta %}
<title>Add New Task</title>
{% endblock meta %}

{% block content %}

<div class="add-task position-absolute top-50 start-50 translate-middle">

    <h1 class="text-primary">Add Task</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td>Task Name: </td>
                <td><input type="text" name="task_name" placeholder="Task.." class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Task Description: </td>
                <td><input type="text" name="description" placeholder="Description.." class="form-control"></td>
            </tr>

    {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}    
        
            <tr>
                <td colspan="2"><button class="btn btn-dark" type="submit" value="Submit">Submit</td>
            </tr>
        </table>
    </form>

     

</div>

{% endblock content %}

