{% extends 'base.html' %}

{% block content %}
<style>
    .card:hover {
        background:rgb(234, 234, 234);
        transition-duration: 0.15s;
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

    }
</style>

<script>
    $(document).ready(function(){
        $.get("/todolist/json", function(data) 
        {
            console.log(data)
            
            for (i=0; i < data.length; i++){
            $(".row").append(`<div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">${data[i].fields.title}</h5>
                <p class="card-text">${data[i].fields.date}</p>
                <p class="card-text">${data[i].fields.description}</p>
                </div>
            </div>`)
            }
        });

        $("#create-btn").click(function(){
            console.log("anything")
        $.post("/todolist/add/", {
            title: $('#title').val(),
            description: $('#description').val()}, 
            function (res){
            // console.log(res)
            $(".row").append(`<div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">${res.fields.title}</h5>
                <p class="card-text">${res.fields.date}</p>
                <p class="card-text">${res.fields.description}</p>
                </div>
            </div>`)
            $('#title').val('')
            $('#description').val('')
            }
            )
            
        })

    });
    </script>

{% load static %}
<div class="text-bg-light">
    <nav class="navbar bg-dark">
        <div class="mx-4 my-1">
            <a class="navbar-brand">
                <span class="display-6 text-light">Welcome back, {{user}}.</span>
            </a>
        </div>
        <div class="mx-4">
            <a class="navbar-item">
                <button type="button" class="btn btn-light"><a class="text-dark" href="{% url 'todolist:logout' %}">Logout</a></button>
            </a>
        </div>
    </nav>
    <h5 class="text-dark my-4">Here is your todolist.</h5>

    <table class="table table-bordered">
        <tr>
            <button class="btn btn-dark btn-outline-light"><a class="text-light" href="{% url 'todolist:add_task' %}">Add New Task</a></button>
        </tr>
      
   </table>

   <br>
   <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for task in data_task %}
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <small class="text-muted">{{task.date}}</small>
                        <h3 class="card-text mb-3">{{task.title}}</h3>
                        <p class="card-text">{{task.description}}</p>

                        {% if task.is_finished %}
                            <h6 class="text-success">Selesai</h6>
                        {% else %}
                            <h6 class="text-danger">Belum Selesai</h6>
                        {% endif %}

                        <div class="btn-group">
                            <a href="{% url 'todolist:update_task' pk=task.id %}" class="btn btn-primary btn-outline-light">Ubah Status</a>
                            <a href="{% url 'todolist:delete_task' pk=task.id %}" class="btn btn-primary btn-outline-light">Hapus Task</a>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
</div>

{% endblock content %}

